.header {
  background-image: url("../images/alisa-s-97948-unsplash.jpg");
  background-position: center;
  object-fit: contain;
  height: 15vw;

  h1 {
    font-size: 30px;
    padding-left: 20px;
    width: 24%;
    color: white;
    background-color: #afafaf;
    margin: 0px 180px;
    padding-top: 24px;
  }
}
